* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
}

.container {
    padding: 7vh 40vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 2vh;
}

#frente-loja {
    width: 50vh;
}

#sobre-loja {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: flex-start;
}

#sobre-loja h2 {
    margin-bottom: 3vh;
}

h1 {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
    color:aliceblue;
}

h2, .menu a {
    font-family: "Lilita One", sans-serif;
}


.menu a {
    color: aliceblue;
}

h2 {
    border-bottom: solid black 2px;
    padding-bottom: 2vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vh;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.item img, h3, p, button {
    margin-bottom: 2vh;
    width: 100%;
}

.content-img {
    width: 200px;
    
}

button {
    height: 5vh;
    background: black;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    border-radius: 1vh;
}

button:hover {
    background: linear-gradient(150deg, yellow, orange, red, rgb(255, 0, 200), rgb(255, 0, 255),  blue, rgb(0, 217, 255), rgb(0, 255, 94), rgb(162, 255, 1), rgb(255, 153, 0) );
    border: none;
} 

@media screen and (min-width:1585px) and (max-width:1880px){
    .container {
        padding: 5vh 25vh;
    }

    #sobre-loja{
        flex-direction: column;
    }

    #frente-loja {
        width: 100%;
    }
}

@media screen and (min-width:991px) and (max-width:1584px){
    .container {
        padding: 4vh 20vh;
    }

    header {
        height: 10vh;
        
    }

    #sobre-loja{
        flex-direction: column;
    }

    #frente-loja {
        width: 100%;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }

    .content-img {
        width: 25vh;
    }
    
}

@media screen and (max-width:990px){
    .container {
        padding: 1vh 3vh;
    }

    header {
        height: 12vh;
        flex-direction: column;
    }

    #sobre-loja{
        flex-direction: column;
    }

    #frente-loja {
        width: 100%;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content-img {
        width: 60vw;
    }
    
}



